*.uasset filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
/Content/Avatars/MetaHumans/Avatar/Face/Avatar_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
/Content/Avatars/MetaHumans/Common/Face/Face_Archetype.uasset filter=lfs diff=lfs merge=lfs -text
/Content/Avatars/MetaHumans/MetaHumans/Avatar/Face/Avatar_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
/Content/Avatars/MetaHumans/MetaHumans/Common/Face/Face_Archetype.uasset filter=lfs diff=lfs merge=lfs -text
